<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Quản lý sản phẩm</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="../../ASSET/css/main.css" />
</head>

<body class="">
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="../../index.html">CYBER PHONE</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="../../index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../Admin/views/admin.html">Admin Portal</a>
          </li>
        </ul>
      </div>
    </nav>
    <header>
      <h1>Sản phẩm</h1>
      <div class="shopping">
        <img src="../../ASSET/img/istockphoto-1128229893-612x612.jpg" />
        <span id="cartQuantity" class="quantity">0</span>
      </div>
    </header>

    <div class="container">
      <select id="productSelect">
        <option onchange="onProductSelectChange()" class="type" value="Active">Tất Cả sản phẩm</option>
        <option onchange="onProductSelectChange()" class="type" value="Iphone">
          Iphone
        </option>
        <option onchange="onProductSelectChange()" class="type" value="Samsung">
          Samsung
        </option>
        <option onchange="onProductSelectChange()" class="type" value="Macbook">
          MacBook
        </option>
        <option onchange="onProductSelectChange()" class="type" value="Ipad">Ipad</option>
      </select>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div id="list" class="container list"></div>
      </div>
    </div>
  </div>
  <div id="cart" class="card">
    <h1>Giỏ hàng</h1>
    <ul id="cartList" class="listCard"></ul>


    <div class="checkOut">
      
      <div id="checkoutButton" class="total">Thanh toán</div>
      <div class="closeShopping">Đóng</div>
    </div>
  </div>

  <div class="modal" id="paymentModal">
    <div class="modal-content">
      <span class="closeModal">&times;</span>
      <h2 id="paymentStatus"></h2>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script src="../../Customer/models/Product.js"></script>
  <script src="../../Customer/services/productAPI.js"></script>
  <script src="../../Customer/controllers/main.js"></script>
</body>

</html>