* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.modal {
  /* Set the modal to cover the whole screen */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: none; /* Hide the modal by default */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.closeModal {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 18px;
  cursor: pointer;
}

body {
  background-color: white;
  font-family: system-ui;
}

header {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-top: 50px;
}

header .shopping {
  position: relative;
  text-align: right;
  cursor: pointer;
}

header .shopping img {
  width: 40px;
}

header .shopping span {
  background: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: -5px;
  left: 80%;
  padding: 3px 10px;
}

.product {
  width: 100%;
  transition: all 1s;
  transform: translateY(0);
}
.product img {
  width: 300px;
}
.product h2 {
  font-size: 25px;
}
.product:hover {
  transform: translateY(-20px);
}

.list {
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  gap: 30px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 576px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 758px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.list .item {
  text-align: center;
  background-color: #dce0e1;
  padding: 20px;
  box-shadow: 0 50px 50px #757676;
  letter-spacing: 1px;
}

.list .item img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.list .item .title {
  font-weight: 600;
}

.list .item .price {
  margin: 10px;
}

.list .item button {
  background-color: #1c1f25;
  color: #fff;
  width: 100%;
  padding: 10px;
}

.card {
  position: fixed;
  top: 0;
  left: 100%;
  width: 500px;
  background-color: rgba(101, 103, 116, 0.6352941176);
  height: 100vh;
  transition: 0.5s;
}

.active .card {
  left: calc(100% - 450px);
}

.card h1 {
  color: #e2ebfc;
  font-weight: 100;
  margin: 0;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
}

.card .checkOut {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card .checkOut div {
  background-color: green;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.card .checkOut div:nth-child(2) {
  background-color: #1c1f25;
  color: #fff;
}

.listCard li {
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  color: #fff;
  row-gap: 10px;
}

.listCard li div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listCard li img {
  width: 90%;
}

.listCard {
  justify-content: center;
}
.listCard li button {
  background-color: rgba(255, 255, 255, 0.3333333333);
  border: 1px solid transparent;
  border-radius: 50%;
  line-height: 50px;
  width: 80px;
  height: 80px;
}
.listCard li .btn-remove {
  color: #fff;
  background-color: rgba(255, 0, 0, 0.247);
}

.listCard .count {
  margin: 0 10px;
}

.btn {
  margin: 20px;
  display: block;
  text-align: center;
  transition: all 0.5s;
}
.btn:hover {
  background-color: rgb(144, 228, 144);
  color: white;
}

.product {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.icon-container a {
  text-decoration: none;
  margin: 50px 50px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.icon span {
  color: rgba(101, 103, 116, 0.6352941176);
  font-size: 1.6rem;
  margin-top: 20px;
}

.icon img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.icon-label {
  margin-top: 10px;
}

.icon:hover {
  transform: scale(1.1);
  transition: all 1s ease-in-out;
}/*# sourceMappingURL=main.css.map */