<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Quản lý sản phẩm</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="../../index.html">CYBER PHONE</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="../../index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../Customer/views/customer.html">Store</a>
          </li>
        </ul>
      </div>
    </nav>
    <br />
    <br />
    <br />
    <!-- Phan tab menu -->
    <ul class="nav nav-tabs" role="tablist"></ul>
    <br />
    <!-- Tab panes -->
    <div class="tab-content">
      <!--Danh sách sản phẩm -->
      <div role="tabpanel" class="tab-pane in active" id="DanhSachSP">
        <!-- BEGIN BUTTOM THÊM MỚI -->
        <div class="bg-primary p-2">
          <div class="row">
            <div class="col-md-10">
              <h4>Phone Management</h4>
            </div>
            <div class="col-md-2">
              <button id="btnThemSP" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-plus mr-1"></i>
                Thêm Mới
              </button>
            </div>
          </div>
        </div>
        <div class="clear-fix"></div>
        <div class="tblSanPham" id="tblSanPham">
          <!-- BEGIN TABLE SẢN PHẨM -->
          <table class="table table-bordered">
            <thead>
              <th>#</th>
              <th>Tên Sản Phẩm</th>
              <th>Giá</th>
              <th>Hình Ảnh</th>
              <th>Mô Tả</th>
              <th>Action</th>
            </thead>
            <tbody id="tblDanhSachSP"></tbody>
          </table>
          <!-- END TABLE SẢN PHẨM -->
        </div>
        <br />
      </div>
      <!-- Kết thúc danh sách sản phẩm -->
    </div>

    <!--KetThuc Tabmenu-->

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <label>Tên Sản Phẩm</label>
              <input id="TenSP" class="form-control" placeholder="Nhập vào tên sản phẩm" />
              <span class="text-danger" id="spanTenSP"></span>
            </div>
            <div class="form-group">
              <label>Giá</label>
              <input id="GiaSP" class="form-control" placeholder="Nhập vào giá" />
              <span class="text-danger" id="spanGiaSP"></span>
            </div>
            <div class="form-group">
              <label>Màn Hình</label>
              <input id="manHinh" class="form-control" placeholder="Màn Hình " />
              <span class="text-danger" id="spanmanHinh"></span>
            </div>
            <div class="form-group">
              <label>Camera Sau</label>
              <input id="cameraSau" class="form-control" placeholder="Camera Sau" />
              <span class="text-danger" id="spancameraSau"></span>
            </div>
            <div class="form-group">
              <label>Camera Trước</label>
              <input id="cameraTruoc" class="form-control" placeholder="Camera Trước" />
              <span class="text-danger" id="spancameraTruoc"></span>
            </div>
            <div class="form-group">
              <label>Hình Ảnh</label>
              <input id="HinhSP" class="form-control" placeholder="Link Sản Phẩm" />
              <span class="text-danger" id="spanHinhSP"></span>
            </div>
            <div class="form-group">
              <label>Mô Tả</label>
              <input id="moTa" class="form-control" placeholder="Mô tả" />
              <span class="text-danger" id="spanmoTa"></span>
            </div>
            <div class="form-group">
              <label for="">Loại sản phẩm: </label>
              <select class="form-control" id="loaiSP">
                <option value="">Chọn Loại</option>
                <option value="Iphone">Apple</option>
                <option value="SamSung">SamSung</option>
                <option value="Ipad">Ipad</option>
                <option value="MacBook">MacBook</option>
                <option value="phone">Phone</option>
              </select>
              <span class="text-danger" id="spanloaiSP"></span>
            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="container"></div>
  <style>
    #container {
      min-width: 310px;
      max-width: 800px;
      height: 400px;
      margin: 0 auto;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script src="../models/Product.js"></script>
  <script src="../services/productAPI.js"></script>
  <script src="../controllers/main.js"></script>
</body>

</html>