body {
  background-color: white;
  font-family: system-ui;
}

header {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-top: 50px;
}
header .shopping {
  position: relative;
  text-align: right;
  cursor: pointer;
}
header .shopping img {
  width: 40px;
}
header .shopping span {
  background: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: -5px;
  left: 80%;
  padding: 3px 10px;
}
.product {
  width: 100%;
  img {
    width: 300px;
  }
  h2{
    font-size: 25px;
  }
  &:hover{
    transform: translateY(-20px);
  }
  transition: all 1s;
  transform: translateY(0);
}

.list {
  display: grid;
  column-gap: 20px;
  gap: 30px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;

  @include responsive("small"){
    grid-template-columns: repeat(1, 1fr);
  }

  @include responsive("medium"){
    grid-template-columns: repeat(2, 1fr);
  }

  @include responsive("large"){
    grid-template-columns: repeat(3, 1fr);
  }

  @include responsive("extra-large"){
    grid-template-columns: repeat(4, 1fr);
}
}
.list .item {
  text-align: center;
  background-color: #dce0e1;
  padding: 20px;
  box-shadow: 0 50px 50px #757676;
  letter-spacing: 1px;
}
.list .item img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.list .item .title {
  font-weight: 600;
}
.list .item .price {
  margin: 10px;
}
.list .item button {
  background-color: #1c1f25;
  color: #fff;
  width: 100%;
  padding: 10px;
}
.card {
  position: fixed;
  top: 0;
  left: 100%;
  width: 500px;
  background-color: $color-dark-1;
  height: 100vh;
  transition: 0.5s;
}
.active .card {
  left: calc(100% - 450px);
}
.card h1 {
  color: $color-white-2;
  font-weight: 100;
  margin: 0;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
}
.card .checkOut {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card .checkOut div {
  background-color: green;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.card .checkOut div:nth-child(2) {
  background-color: #1c1f25;
  color: #fff;
}
.listCard {
  li {
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  color: #fff;
  row-gap: 10px;
}}
.listCard li div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.listCard li img {
  width: 90%;
}
.listCard {
    justify-content: center ;
  li {
    button {
      background-color: #fff5;
      border: 1px solid transparent;
      border-radius: 50%;
      line-height: 50px;
      width: 80px;
      height: 80px;
    }
    .btn-remove {
        color: $color-white-3;
        background-color: rgba(255, 0, 0, 0.247);
    }
  }
}

.listCard .count {
  margin: 0 10px;
}

.btn {
  margin: 20px;
  display: block;
  text-align: center;
  transition: all .5s;
  
  &:hover{
    background-color: rgb(144, 228, 144);
    color: white;
  }
}

.product{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}